---
http_interactions:
- request:
    method: post
    uri: https://auth.api.rackspacecloud.com/v2.0/tokens
    body:
      encoding: UTF-8
      string: ! '{"auth":{"passwordCredentials":{"username":"<REDACTED>","password":"<REDACTED>"}}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: US-ASCII
      string: <REDACTED><REDACTED>
  recorded_at: Wed, 16 May 2012 08:12:17 GMT
recorded_with: VCR 2.1.1
